<div class="span5">
<center><strong class="text-info">

黑色的钢铁巨鸟，飞过田野海山；<br>
<br>
所到之处，敌人闻风遁散。<br>
<br>
风驰电掣，从天而降；<br>
<br>
高贵的爪子，锲进敌人的心脏。<br>
<br>
我们是空中的黑色轻骑兵；<br>
<br>
时刻听从使命召唤的声音。<br>
<br>
斯图卡，斯图卡，斯图卡！<br>
<br>
我们无眠无休，战斗无所惧怕；<br>
<br>
我们俯冲而下，投出致命火花。<br>
<br>
我们看着敌人在大地上崩塌；<br>
<br>
直到最后一个倒下。<br>

</strong></center>
</div>


<div class="span6">
<center><strong class="text-info">

Viel schwarze Vögel ziehen. Hoch über Land und Meer,<br><br>
Und wo sie erscheinen, da fliehen Die Feinde vor ihnen her.<br><br>
Sie lassen jäh sich fallen Vom Himmel tiefbodenwärts.<br><br>
Sie schlagen die ehernen Krallen<br><br>
Dem Gegner mitten ins Herz.<br><br>
Wir sind die schwarzen Husaren der Luft,<br><br>
Immer bereit, wenn der Einsatz uns ruft,<br><br>
Die Stukas, die Stukas, die Stukas.<br><br>
Wir stürzen vom Himmel und schlagen zu.<br><br>
Wir fürchten die Hölle nicht und geben nicht Ruh,<br><br>
Bis endlich der Feind am Boden liegt,<br><br>
</strong></center>
</div>