<center class="container">
<%= image_tag "pilot_pics/logo.jpg" %>
&nbsp <br>&nbsp<br> <br>&nbsp<br> 	
</center>

<div class="container">
	<table class="table span10">
	<tr><td><h3>第1篇，飞行练习</h3></td><td>
		初次接触飞行的人，将在第一篇中练习控制飞机。这不是件简单得事情。<br>
		
	</td></tr>
	<tr><td colspan="2">
		<% @games.each do |episode|%>
			<% if episode.season == 1 %>
				<%= render partial: "episode", locals: { episode: episode } %>
			<% end %>
		<% end %>
	</td></tr>
	<tr><td colspan="2"></td></tr>

	<tr><td><h3>第2篇，目标T34</h3></td><td>飞机开始带弹飞行，击毁目标坦克</td></tr>
	<tr><td colspan="2">
		<% @games.each do |episode|%>
			<% if episode.season == 2 %>
				<%= render partial: "episode", locals: { episode: episode } %>
			<% end %>
		<% end %>
	</td></tr>
	<tr><td colspan="2"></td></tr>

	<tr><td><h3>第3篇，空中格斗</h3></td><td>任务难度升级，不但要击毁目标坦克，还要躲避前来拦截的战斗机</td></tr>
	<tr><td colspan="2"><center><div class="">COMING SOON! 翘首以盼!</div></center></td></tr>
	<tr><td></td><td></td></tr>
	</table>
</div>



<% if current_user.email == "ji.x.li@oracle.com"%>
	<hr><center>
	<%= link_to 'New Episode', new_game_path %></center>
<% end %>

