<div>
	<h2>当前饭团有<%= Fangroup.count %>个，加入其中，或者创建自己的饭团</h2><br>
	<table class="table">
		<% @fangroups.each do |fangroup| %>
			<% @fangroup = fangroup %>
			<%= render "showfangroup" %>
		<%end%>
	</table>
</div>

<div>
	<h2>创建新饭团</h2>
	<%= render "newfangroup" %>
</div>
