<aside class="titlecontainer span8">
	<div class="maintitle"><h3>最近饭局</h3><hr></div>
	<%= render 'mainpage/lunch_list' %>
	<br>
	
	<% if current_user.email == "desanlee@gmail.com" then %>
	<div class="maintitle"><h3>创建饭局</h3><hr></div>
	<%= render 'mainpage/lunch_new' %>
	<% end %>
</aside>

<div class="titlecontainer span3">

	<div class="maintitle "><h3>我的饭局</h3><hr></div>
	<%= render 'mainpage/lunch_my' %>
	
	<div class="maintitle "><h3>我的余额</h3><hr></div>
	
	<div class="maintitle "><h3>我的花费</h3><hr></div>
	<%= render 'mainpage/lunch_expense' %>
	
</div>

