<div>
	<h2>今日饭局，<%= Time.now.strftime('%Y-%m-%d') %></h2><br>
	<table class="table">
		<% @lunches.each do |l| %>
			<% @lunch = l %>
			<div class="span10">
				<%= render "showlunch" %>
			</div>
		<% end %>
	</table>
</div>